The file "Advertising.csv" contains data from a company on the amount of sales it has achieved and associated spending on TV, radio and newspaper advertising. Use scikit-learn to create a linear regression model to predict the volume of sales from the three kinds of advertising. Use all the records to build the model and then predict the sales value for the 200th record. How accurate was the prediction?

Complete the code below by writing your own code in places indicated with "???".

The data file is from the [campanion website](http://faculty.marshall.usc.edu/gareth-james/ISL/data.html) for James et al. (2013). Introduction to Statistical Learning.

In [84]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

In [85]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Load and inspect the data.

In [86]:
df = pd.read_csv("Advertising.csv")
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [87]:
df.shape

(200, 4)

Separate the target variable and the predictor variables.

In [88]:
X = df.values[:, :-1]
y = df.values[:, -1]

Build the model and obtain its $R^2$ score.

In [89]:
model = LinearRegression().fit(X, y)
model.score(X, y)

0.8972106381789522

Create an instance for which the target variable will be predicted: this is the last row in the dataframe, without the last column.

In [90]:
test_instance = df.values[-1:, :-1]

Generate a prediction for the instance:

In [91]:
yhat = model.predict(test_instance)

The predicted value:

In [92]:
yhat

array([15.17319554])

The true value:

In [93]:
y[-1]

np.float64(13.4)

The difference between them in percent:

In [94]:
100*(y[-1] - yhat)/yhat

array([-11.68636845])

The predicted value is off by about ???\%.

In [95]:
11.6

11.6